<!DOCTYPE html>
<html>
<head>
  <title>Outlook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<footer>
  <% if Rails.env.development? %>
    <p><%= params[:controller] %>#<%= params[:action] %></p>
        <p>Time: <%= Time.now %></p>
  <% end %>
</footer>

</body>
</html>
